<!-- FOOTER -->

<footer class="page-footer" id="footer">
  <div class="container main-footer">
    <div class="footer-top-part">
      <p class="footer-slogan">
        <span class="section-part-title">Chocolate</span> a delicious cure for a
        bad day
      </p>

      <div class="footer-top-wrapper">
        <address class="footer-contacts">
          <p class="footer-contacts-text">Contact us</p>
          <ul class="footer-contacts-list list">
            <li class="footer-contacts-item">
              <a class="footer-contact-link link" href="tel:+380684439426"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li class="footer-contacts-item">
              <a
                class="footer-contact-link link"
                href="mailto:simplychoc@gmail.com"
                >simplychoc@gmail.com</a
              >
            </li>
          </ul>
        </address>

        <ul class="footer-social-media-list list">
          <li class="footer-social-media-item">
            <a
              class="footer-social-media-link link"
              href="https://www.instagram.com"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="Instagram"
            >
              <svg class="footer-icon-instagram">
                <use href="../img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-media-item">
            <a
              class="footer-social-media-link link"
              href="https://twitter.com"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="Twitter"
            >
              <svg class="footer-icon-twitter">
                <use href="../img/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-nav">
      <ul class="footer-nav-list list">
        <li class="footer-nav-item">
          <a class="footer-nav-link link" href="./index.html">Home</a>
        </li>

        <li class="foter-nav-item">
          <a class="footer-nav-link link" href="#how-it-is-made"
            >How it's made?</a
          >
        </li>

        <li class="footer-nav-item">
          <a class="footer-nav-link link" href="#our-products">Our products</a>
        </li>

        <li class="footer-nav-item">
          <a class="footer-nav-link link" href="#top-sellers">Top sellers</a>
        </li>

        <li class="footer-nav-item">
          <a class="footer-nav-link link" href="#chocolate-is-loved"
            >Chocolate is loved</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
