<!-- HEADER -->

<header class="page-header" id="home">
  <div class="container main-header">
    <nav class="site-nav">
      <a class="logo-header link" href="./index.html"
        ><span class="logo-part-header">SIMPLY&nbsp;</span> CHOCOLATE
        <span class="logo-header-item">
          <svg class="logo-header-icon">
            <use href="./img/sprite.svg#icon-chocolate"></use>
          </svg>
        </span>
      </a>
      <ul class="menu-list list">
        <li class="menu-item">
          <a class="menu-link link active-page" href="./index.html">Home</a>
        </li>

        <li class="menu-item">
          <a class="menu-link link" href="#how-it-is-made">How it's made?</a>
        </li>

        <li class="menu-item">
          <a class="menu-link link" href="#our-products">Our products</a>
        </li>

        <li class="menu-item">
          <a class="menu-link link" href="#top-sellers">Top sellers</a>
        </li>

        <li class="menu-item">
          <a class="menu-link link" href="#chocolate-is-loved"
            >Chocolate is loved</a
          >
        </li>
      </ul>
    </nav>

    <ul class="header-social-media-list list">
      <li class="header-social-media-item">
        <a
          class="header-social-media-link link"
          href="https://www.instagram.com/"
          target="_blank"
          rel="noreferrer noopener"
          aria-label="Instagram"
        >
          <svg class="header-social-media-icon">
            <use href="./img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>

      <li class="header-social-media-item">
        <a
          class="header-social-media-link link"
          href="https://twitter.com/"
          target="_blank"
          rel="noreferrer noopener"
          aria-label="Twitter"
        >
          <svg class="header-social-media-icon">
            <use href="./img/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>

    <button
      type="button"
      class="menu-btn js-open-menu"
      aria-label="button to open mobile menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="menu-btn-icon">
        <use class="icon-menu" href="./img/sprite.svg#icon-menu"></use>
      </svg>
    </button>

    <!-- MOBILE MENU -->

    <div class="mobile-menu js-menu-container" id="mobile-menu">
      <button
        class="mobile-menu-close-btn js-close-menu"
        aria-label="button to close mobile menu"
      >
        <svg class="mobile-menu-close-icon">
          <use class="icon-menu-cross" href="./img/sprite.svg#icon-close"></use>
        </svg>
      </button>

      <ul class="mobile-menu-list list">
        <li class="mobile-menu-item">
          <a class="mobile-menu-link link active-page" href="./index.html"
            >Home</a
          >
        </li>

        <li class="mobile-menu-item">
          <a class="mobile-menu-link link" href="#how-it-is-made"
            >How it's made?</a
          >
        </li>

        <li class="mobile-menu-item">
          <a class="mobile-menu-link link" href="#our-products">Our products</a>
        </li>

        <li class="mobile-menu-item">
          <a class="mobile-menu-link link" href="#top-sellers">Top sellers</a>
        </li>

        <li class="mobile-menu-item">
          <a class="mobile-menu-link link" href="#chocolate-is-loved"
            >Chocolate is loved</a
          >
        </li>
      </ul>

      <ul class="mobile-menu-social-media list">
        <li class="mobile-menu-social-media-item">
          <a
            class="mobile-menu-social-media-link link"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noreferrer noopener"
            aria-label="Instagram"
          >
            <svg class="mobile-menu-social-media-icon">
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>

        <li class="mobile-menu-social-media-item">
          <a
            class="mobile-menu-social-media-link link"
            href="https://twitter.com/"
            target="_blank"
            rel="noreferrer noopener"
            aria-label="Twitter"
          >
            <svg class="mobile-menu-social-media-icon">
              <use href="./img/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="mobile-menu-backdrop js-close-menu"></div>
  </div>
</header>
