<!-- Hero -->
<section class="section-hero">
    <h1 hidden>Hero</h1>
    <div class="hero">
        <h2 class="hero-title">Treat yourself or a loved one to our finest ingredients for a moment of pure delight!
        </h2>
        <div class="button-hero">
            <div class="button-hero-left">
                <button class="button-hero-buy button-hero-two">Buy now</button>
                <button class="button-hero-how button-hero-two">How it’s made</button>
            </div>

            <button class="button-hero-footer">scroll down<svg class="modal-icon" width="22" height="22">
                    <use href="./img/icons.svg#icon-hero"></use>
                </svg></button>

        </div>
    </div>
</section>