<!-- Hero -->
<section class="section-hero">
    <h1 class="visually-hidden">Hero</h1>
    <div class="hero">
        <h2 class="hero-dicr">Treat yourself or a loved one to our finest ingredients for a moment of pure delight!
        </h2>
        <div class="button-hero">
            <div class="button-hero-left ">
                <button class="button-hero-buy" data-modal-buy-now-open>Buy now</button>
                <a class="button-hero-how" href="#how-it-is-made">How it’s made</a>
            </div>
            <a class="button-hero-footer button-hero-right" href="#footer">scroll down
                <div class="check-mark-icon">
                    <svg class="modal-icon" aria-label="check mark icon" height="16" width="16">
                        <use href="./img/sprite.svg#icon-scroll"></use>
                    </svg>
                </div>
            </a>
        </div>
    </div>
</section>