<!-- ############### HIM ############### -->
<section id="how-it-is-made" class="him-container">
  <h2 class="section-title him-title">
    HOW IT'S <span class="section-part-title">MADE?</span>
  </h2>
  <div class="container description-him">
    <div class="him-img ">
      <!-- <picture class="him-img-item"> -->
        <!-- DESKTOP -->
        <!-- <source
          srcset="
            ./img/how-it’s-made/desktop/image-desktop-min.jpg 1x,
            ./img/how-it’s-made/desktop/image-desktop@2x-min.jpg 2x
          "
          media="(min-width: 1200px)"
          type="image/jpeg"
        /> -->
        <!-- TABLET -->
        <!-- <source
          srcset="
            ./img/how-it’s-made/tablet/image-tablet-min.jpg 1x,
            ./img/how-it’s-made/tablet/image-tablet@2x-min.jpg 2x
          "
          media="(min-width: 768px)"
          type="image/jpeg"
        /> -->
        <!-- MOBILE -->
        <!-- <source
          srcset="
            ./img/how-it’s-made/mobile/image-mobile-min.jpg    1x,
            ./img/how-it’s-made/mobile/image-mobile@2x-min.jpg 2x
          "
          media="(min-width: 375px)"
          type="image/jpeg"
        /> -->
        <!-- Reserve -->
        <!-- <img
          class="him-img-item"
          srcset="./img/how-it’s-made/mobile/image-mobile@2x-min.jpg 2x"
          src="./img/how-it’s-made/mobile/image-mobile-min.jpg"
          alt="Фото приготування шоколаду"
          width="600"
          height="400"
        /> -->
      </picture>

      <div class="video-container">
       <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/xPe1jMuX32s?start=45"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe> 
      </div>
      
      <!-- <button class="icon-play">
        <svg
          class="icon-play-img"
          width="20"
          height="21"
          aria-label="button play video"
        >
          <use href="./img/sprite.svg#icon-play"></use>
        </svg>
      </button> -->


    </div>
    <div class="description-proces">
      <p class="description-proces-title">
        Try our chocolates today and discover the perfect balance of flavor
      </p>
      <ul class="him-menu-list">
        <li class="him-menu-item">
          Heat the milk in a saucepan without bringing it to a boil. Add sugar
          and cocoa powder.
        </li>
        <li class="him-menu-item">
          At the same time, prepare a water bath. Melt the butter on it.
        </li>
        <li class="him-menu-item">
          "Mix" the milk mixture and already liquid butter. Mix thoroughly with
          a silicone spatula so that the mass becomes uniform and silky.
        </li>
        <li class="him-menu-item">
          Heat the mixture over low heat, letting it barely boil.
        </li>
        <li class="him-menu-item">
          Pour the chocolate into special containers (can be replaced with ice
          molds). Allow to cool and harden.
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- ############### /HIM ############### -->
