<section class="container him-container">
    <h2 id=“how-it-is-made” class="him-title">HOW IT'S <span class="him-title-accent">MADE?</span></h2>
    <div class="description-him">
        <div class="him-img">
            <!-- <iframe src="./img/how-it’s-made/desktop/image-desktop-min.jpg" frameborder="0"></iframe> -->

            <img class="him-img-item" srcset="img/how-it’s-made/desktop/image-desktop@2x-min.jpg"
                src="./img/how-it’s-made/desktop/image-desktop-min.jpg" alt="фото приготування шоколаду" width="600"
                height="400">

            <!-- <svg class="play-icon" width="44" height="44">
                    <use href="./img/icons.svg#icon-play"></use>
                </svg> -->
                
            <!-- <symbol id="icon-Icon-play" viewBox="0 0 30 32"><path d="M0 32v-32l30.476 16-30.476 16z"></path></symbol> -->
            
        </div>
        <div class="description-proces">
            <p class="description-proces-title">Try our chocolates today and discover the perfect balance of flavor</p>
            <ul class="him-menu-list">
                <li class="him-menu-item">Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa
                    powder.</li>
                <li class="him-menu-item">At the same time, prepare a water bath. Melt the butter on it.</li>
                <li class="him-menu-item">"Mix" the milk mixture and already liquid butter. Mix thoroughly with a
                    silicone spatula so that the
                    mass becomes uniform and silky.</li>
                <li class="him-menu-item">Heat the mixture over low heat, letting it barely boil.</li>
                <li class="him-menu-item">Pour the chocolate into special containers (can be replaced with ice molds).
                    Allow to cool and
                    harden.
                </li>
            </ul>
        </div>
    </div>

</section>