<!-- ######################################################### -->
<!-- ###############   MODAL EXPLORE OUR NEW   ############### -->
<!-- ######################################################### -->

<!-- add "is-hidden" to backdrop class -->

<div class="backdrop is-hidden" data-modal-explore>
    <div class="modal">

        <button class="modal-close-btn" type="button" data-modal-explore-close>
            <svg class="modal-close-icon" width="28" height="28">
                <use href="./img/sprite.svg#icon-close"></use>
            </svg>
        </button>

        <div class="explore-background">

        </div>

        <div class="explore-text-wrapper">
            <h2 class="explore-title">
                Explore our <br>
                <span class="explore-title-color">new chocolate</span> first!
            </h2>
            <form class="explore-subscribe-form">

                <input class="explore-email-input" type="email" name="user-email" id="user-email"
                    placeholder="Enter your email" required aria-label="button to open modal window">

                <button class="explore-form-submit-btn" type="submit">Subscribe</button>
            </form>
        </div>
    </div>
</div>

<!-- ############################################################ -->