
<div class="bacdrop-modal-explore">
<div class="modal-window-explore">
    <button type="button" class="modal-btn-explore-close">
        <svg width="8" height="8" class="modal-btn-explore-close-icon">
            <use href="" ></use>
        </svg>
    </button>


    <h2>leave a review about <span>our chocolate</span></h2>


    <form class="">
        <label class="">
         <span class="">
          <input
            type="text"
            name="user_name"
            required
            minlength="2"
            placeholder="Name"
            class=""
          />
         </span>
        </label>

        <label class="">
          <span class="">
          <input type="email" 
          name="user_email" 
          required 
          class="" 
          placeholder="Enter your email"/>
          </span>
        </label>

        <label class="">
            <span class="">
             <input type="tel" name="user_phone" required class="" placeholder="Phone number" />
            <svg width="" height="" class="">
              <use href=""></use>
            </svg>
            </span>
          </label>




        <label class="">
          <textarea
            name="user_message"
            class="modal-form-message"
            placeholder="Enter text"
          ></textarea>
        </label>
        
        <button type="submit" class="modal-form-submit">Send</button>
        
      </form>
</div>
</div>