<section class="our-products" id="our-products">
  <div class="container">
    <h2 class="section-title our-products-text">
      Our <span class="section-part-title">products</span>
    </h2>
    <!-- Slider main container -->
    <div class="slide-container swiper-chocolate">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper swiper-wrapper-chocolate">
        <!-- Slides -->
        <div class="swiper-slide swiper-slide-chocolate products-card">
          <img
            srcset="
              ../img/our-products/orange-min.jpg    1x,
              ../img/our-products/orange@2x-min.jpg 2x
            "
            src="../img/our-products/orange-min.jpg"
            width="230"
            alt="chocolate flavor orange"
          />
          <h3 class="chocolate-flavor">ORANGE</h3>
          <p class="type-chocolate">Dark chocolate</p>
          <span class="price">45 UAH</span>
        </div>
        <div class="swiper-slide products-card">
          <img
            srcset="
              ../img/our-products/apple-min.jpg    1x,
              ../img/our-products/apple@2x-min.jpg 2x
            "
            src="../img/our-products/apple-min.jpg"
            width="230"
            alt="chocolate flavor apple"
          />
          <h3 class="chocolate-flavor">APPLE&CRANBERRY</h3>
          <p class="type-chocolate">Milk chocolate</p>
          <span class="price">50 UAH</span>
        </div>
        <div class="swiper-slide products-card">
          <img
            srcset="
              ../img/our-products/lime-min.jpg    1x,
              ../img/our-products/lime@2x-min.jpg 2x
            "
            src="../img/our-products/lime-min.jpg"
            width="230"
            alt="chocolate flavor lime&sea salt"
          />
          <h3 class="chocolate-flavor">LIME&SEA SALT</h3>
          <p class="type-chocolate">Dark chocolate</p>
          <span class="price">66 UAH</span>
        </div>
        <div class="swiper-slide products-card">
          <img
            srcset="
              ../img/our-products/pineapple-min.jpg    1x,
              ../img/our-products/pineapple@2x-min.jpg 2x
            "
            src="../img/our-products/pineapple-min.jpg"
            width="230"
            alt="chocolate flavor pineapple"
          />
          <h3 class="chocolate-flavor">PINEAPPLE</h3>
          <p class="type-chocolate">Dark chocolate</p>
          <span class="price">54 UAH</span>
        </div>
        <div class="swiper-slide products-card">
          <img
            srcset="
              ../img/our-products/classic-min.jpg    1x,
              ../img/our-products/classic@2x-min.jpg 2x
            "
            src="../img/our-products/classic-min.jpg"
            width="230"
            alt="chocolate flavor classic-milk"
          />
          <h3 class="chocolate-flavor">CLASSIC</h3>
          <p class="type-chocolate">Milk chocolate</p>
          <span class="price">45 UAH</span>
        </div>
        <div class="swiper-slide products-card">
          <img
            srcset="
              ../img/our-products/honey-min.jpg    1x,
              ../img/our-products/honey@2x-min.jpg 2x
            "
            src="../img/our-products/honey-min.jpg"
            width="230"
            alt="chocolate flavor honey"
          />
          <h3 class="chocolate-flavor">HONEY</h3>
          <p class="type-chocolate">Milk chocolate</p>
          <span class="price">50 UAH</span>
        </div>
        <div class="swiper-slide products-card">
          <img
            srcset="
              ../img/our-products/roasted-fruits-min.jpg    1x,
              ../img/our-products/roasted-fruits@2x-min.jpg 2x
            "
            src="../img/our-products/roasted-fruits-min.jpg"
            width="230"
            alt="chocolate flavor roasted fruits"
          />
          <h3 class="chocolate-flavor">ROASTED FRUITS</h3>
          <p class="type-chocolate">Dark chocolate</p>
          <span class="price">66 UAH</span>
        </div>
        <div class="swiper-slide products-card">
          <img
            srcset="
              ../img/our-products/classic-white-min.jpg    1x,
              ../img/our-products/classic-white@2x-min.jpg 2x
            "
            src="../img/our-products/classic-white-min.jpg"
            width="230"
            alt="chocolate flavor classic-white"
          />
          <h3 class="chocolate-flavor">CLASSIC</h3>
          <p class="type-chocolate">White chocolate</p>
          <span class="price">54 UAH</span>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <!-- <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div> -->

    </div>
  </div>
</section>
