<section class="our-products" id="our-products">
  <div class="container">
    <h2 class="section-title our-products-text">
      Our <span class="section-part-title">products</span>
    </h2>
    <ul class="products-card-list list">
      <li class="products-card-item">
        <div class="products-card">
          <img
            srcset="
              ./img/our-products/orange-min.jpg    1x,
              ./img/our-products/orange@2x-min.jpg 2x
            "
            src="./img/our-products/orange-min.jpg"
            alt="Product"
            width="230"
            height="201"
          />
          <h3 class="chocolate-flavor">ORANGE</h3>
          <p class="type-chocolate">Dark chocolate</p>
          <span class="price">45 uah</span>
        </div>
      </li>
      <li class="products-card-item slaider-card">
        <div class="products-card">
          <img
            srcset="
              ./img/our-products/apple-min.jpg    1x,
              ./img/our-products/apple@2x-min.jpg 2x
            "
            src="./img/our-products/apple-min.jpg"
            alt="Product"
            width="230"
            height="201"
          />
          <h3 class="chocolate-flavor">APPLE&CRANBERRY</h3>
          <p class="type-chocolate">Milk chocolate</p>
          <span class="price">50 uah</span>
        </div>
      </li>
      <li
        class="products-card-item slaider-card slaider-non-tab slaider-card-desk"
      >
        <div class="products-card">
          <img
            srcset="
              ./img/our-products/lime-min.jpg    1x,
              ./img/our-products/lime@2x-min.jpg 2x
            "
            src="./img/our-products/lime-min.jpg"
            alt="Product"
            width="230"
            height="201"
          />
          <h3 class="chocolate-flavor">LIME&SEA SALT</h3>
          <p class="type-chocolate">Dark chocolate</p>
          <span class="price">66 uah</span>
        </div>
      </li>
      <li
        class="products-card-item slaider-card slaider-non-tab slaider-card-desk"
      >
        <div class="products-card">
          <img
            srcset="
              ./img/our-products/pineapple-min.jpg    1x,
              ./img/our-products/pineapple@2x-min.jpg 2x
            "
            src="./img/our-products/pineapple-min.jpg"
            alt="Product"
            width="230"
            height="201"
          />
          <h3 class="chocolate-flavor">PINEAPLE</h3>
          <p class="type-chocolate">Dark chocolate</p>
          <span class="price">54 uah</span>
        </div>
      </li>
      <li class="products-card-item slaider-card slaider-non-tab">
        <div class="products-card">
          <img
            srcset="
              ./img/our-products/classic-min.jpg    1x,
              ./img/our-products/classic@2x-min.jpg 2x
            "
            src="./img/our-products/classic-min.jpg"
            alt="Product"
            width="230"
            height="201"
          />
          <h3 class="chocolate-flavor">CLASSIC</h3>
          <p class="type-chocolate">Milk chocolate</p>
          <span class="price">45uah</span>
        </div>
      </li>
    </ul>

    <ul class="slaider">
      <li class="slaider-btn-first"></li>
      <li class="slaider-btn"></li>
      <li class="slaider-btn"></li>
      <li class="slaider-btn"></li>
      <li class="slaider-btn"></li>
      <li class="slaider-btn"></li>
      <li class="slaider-btn"></li>
      <li class="slaider-btn"></li>
    </ul>
  </div>
</section>
