<section class="reviews"></section>
<h1 class="review section-title">
  <span class="accent-color-title">chocolate</span> is loved
</h1>
<div class="review-card">
  <img
    class="review-card-img"
    src="../img/reviews/victoria-min.jpg"
    alt="women"
  />
  <div class="review-rectanle">
    <h2 class="review-card-title">Victoria Dobrzhanska</h2>
    <p class="review-card-desc">
      I love this chocolate bar. Perfect combination of light crispy wafer,
      covered in a thin layer chocolate.
    </p>
  </div>
</div>
