<section class="reviews-section" id="chocolate-is-loved">
  <div class="container reviews-cont">
    <h2 class="section-title reviews">
      <span class="accent-color-title">chocolate</span> is loved
    </h2>

    <div class="itc-slider" data-slider="itc-slider">
      <div class="itc-slider-wrapper">
        <div class="itc-slider-items">
          <div class="itc-slider-item">
            <img
              class="photo"
              srcset="
                /img/reviews/victoria-min.jpg    1x,
                /img/reviews/victoria@2x-min.jpg 2x
              "
              src="/img/reviews/victoria-min.jpg"
              alt="women"
              width="80"
              height="80"
            />
            <h3 class="title-slider">Victoria Dobrzhanska</h3>
            <div class="desc-slider-text">
              <p>
                I love this chocolate bar. Perfect combination of light crispy
                wafer, covered in a thin layer chocolate.
              </p>
            </div>
          </div>
          <div class="itc-slider-item">
            <img
              class="photo"
              srcset="
                /img/reviews/nazar-min.jpg    1x,
                /img/reviews/nazar@2x-min.jpg 2x
              "
              src="/img/reviews/nazar-min.jpg"
              alt="men"
              width="80"
              height="80"
            />
            <h3 class="title-slider">Nazar Babenko</h3>
            <p class="desc-slider-text">
              This chocolate confection is a delight! A delight! The wafer is
              light and crisp, the hazelnut cream is smooth, and the chocolate
              is good.
            </p>
          </div>
          <div class="itc-slider-item">
            <img
              class="photo"
              srcset="
                /img/reviews/olena-min.jpg    1x,
                /img/reviews/olena@2x-min.jpg 2x
              "
              src="/img/reviews/olena-min.jpg"
              alt="women"
            />
            <h3 class="title-slider">Olena Kampusch</h3>
            <p class="desc-slider-text">
              Chocolate is a family favourite treat. Love the delicious smooth
              chocolate and the creaminess inside. The wafer is soft but
              crunchy.
            </p>
          </div>
          <div class="itc-slider-item">
            <img
              class="photo"
              srcset="
                /img/reviews/natalia-min.jpg    1x,
                /img/reviews/natalia@2x-min.jpg 2x
              "
              src="/img/reviews/natalia-min.jpg"
              alt="women"
              width="80"
              height="80"
            />
            <h3 class="title-slider">Natalia Sus</h3>
            <p class="desc-slider-text">
              The chocolate assortment was delicious. Both dark and milk
              chocolate pieces were smooth and just right on the sweetness
              level.
            </p>
          </div>
          <div class="itc-slider-item">
            <img
              class="photo"
              srcset="
                /img/reviews/danilo-min.jpg    1x,
                /img/reviews/danilo@2x-min.jpg 2x
              "
              src="/img/reviews/danilo-min.jpg"
              alt="men"
              width="80"
              height="80"
            />
            <h3 class="title-slider">Danilo Nottingham</h3>
            <p class="desc-slider-text">
              This is delicious. It so rich and flavorful you don’t need to use
              as many. I love topping an apple with almond butter and these
              chips for a snack.
            </p>
          </div>
          <div class="itc-slider-item">
            <img
              class="photo"
              srcset="
                /img/reviews/irina-min.jpg    1x,
                /img/reviews/irina@2x-min.jpg 2x
              "
              src="/img/reviews/irina-min.jpg"
              alt="women"
              width="80"
              height="80"
            />
            <h3 class="title-slider">Irina Tydnyuk</h3>
            <p class="desc-slider-text">
              This is simply the best chocolate around, and I'm just thrilled to
              support a local company! Best local chocolate - world class 
            </p>
          </div>
        </div>
        <ol class="itc-slider-indicators mobile">
          <!-- data-slide-to="0" – для перехода к 1 слайду -->
          <li class="itc-slider-indicator" data-slide-to="0"></li>
          <!-- data-slide-to="1" – для перехода к 2 слайду -->
          <li class="itc-slider-indicator" data-slide-to="1"></li>
          <!-- data-slide-to="2" – для перехода к 3 слайду -->
          <li class="itc-slider-indicator" data-slide-to="2"></li>
          <!-- data-slide-to="3" – для перехода к 4 слайду -->
          <li class="itc-slider-indicator" data-slide-to="3"></li>
          <!-- data-slide-to="4" – для перехода к 5 слайду -->
          <li class="itc-slider-indicator" data-slide-to="4"></li>
          <!-- data-slide-to="5" – для перехода к 6 слайду -->
          <li class="itc-slider-indicator" data-slide-to="5"></li>
        </ol>
        <ol class="itc-slider-indicators tablet">
          <!-- data-slide-to="0" – для перехода к 1 слайду -->
          <li class="itc-slider-indicator" data-slide-to="0"></li>
          <!-- data-slide-to="1" – для перехода к 2 слайду -->
          <!-- <li class="itc-slider-indicator" data-slide-to="1"></li> -->
          <!-- data-slide-to="2" – для перехода к 3 слайду -->
          <!-- <li class="itc-slider-indicator" data-slide-to="2"></li> -->
          <!-- data-slide-to="3" – для перехода к 4 слайду -->
          <li class="itc-slider-indicator" data-slide-to="3"></li>
          <!-- data-slide-to="4" – для перехода к 5 слайду -->
          <!-- <li class="itc-slider-indicator" data-slide-to="4"></li> -->
          <!-- data-slide-to="5" – для перехода к 6 слайду -->
          <li class="itc-slider-indicator" data-slide-to="5"></li>
        </ol>
        <ol class="itc-slider-indicators desctop">
          <!-- data-slide-to="0" – для перехода к 1 слайду -->
          <li class="itc-slider-indicator" data-slide-to="0"></li>
          <!-- data-slide-to="1" – для перехода к 2 слайду -->
          <!-- <li class="itc-slider-indicator" data-slide-to="1"></li> -->
          <!-- data-slide-to="2" – для перехода к 3 слайду -->
          <!-- <li class="itc-slider-indicator" data-slide-to="2"></li> -->
          <!-- data-slide-to="3" – для перехода к 4 слайду -->
          <!-- <li class="itc-slider-indicator" data-slide-to="3"></li> -->
          <!-- data-slide-to="4" – для перехода к 5 слайду -->
          <!-- <li class="itc-slider-indicator" data-slide-to="4"></li> -->
          <!-- data-slide-to="5" – для перехода к 6 слайду -->
          <li class="itc-slider-indicator" data-slide-to="5"></li>
        </ol>
      </div>
    </div>
  </div>
  <button data-modal-review-open class="reviews-open-btn" type="button">
    Leave a review
  </button>
</section>
