<section class="reviews-section" id="chocolate-is-loved">
  <div class="container reviews-cont">
    <h2 class="reviews section-title">
      <span class="accent-color-title">chocolate</span> is loved
    </h2>
    <ul class="reviews-list">
      <li class="reviews-list-card one">
        <img
          class="reviews-card-img"
          srcset="
            /img/reviews/victoria-min.jpg    1x,
            /img/reviews/Victoria@2x-min.jpg 2x
          "
          src="/img/reviews/victoria-min.jpg"
          alt="women"
          width="80px"
          height="80px"
        />
        <h3 class="reviews-card-title">Victoria Dobrzhanska</h3>
        <div class="reviews-overlay-rectangle">
          <p class="reviews-card-desc">
            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
        </div>
      </li>
      <li class="reviews-list-card two">
        <img
          class="reviews-card-img"
          srcset="
            /img/reviews/nazar-min.jpg    1x,
            /img/reviews/nazar@2x-min.jpg 2x
          "
          src="/img/reviews/nazar-min.jpg"
          alt="men"
          width="80px"
          height="80px"
        />
        <h3 class="reviews-card-title">Nazar Babenko</h3>
        <p class="reviews-card-overlay-desc">
          This chocolate confection is a delight! A delight! The wafer is light
          and crisp, the hazelnut cream is smooth, and the chocolate is good.
        </p>
      </li>
      <li class="reviews-list-card three">
        <img
          class="reviews-card-img"
          srcset="
            /img/reviews/olena-min.jpg    1x,
            /img/reviews/olena@2x-min.jpg 2x
          "
          src="/img/reviews/olena-min.jpg"
          alt="women"
          width="80px"
          height="80px"
        />
        <h3 class="reviews-card-title">Olena Kampusch</h3>
        <p class="reviews-card-overlay-desc">
          Chocolate is a family favourite treat. Love the delicious smooth
          chocolate and the creaminess inside. The wafer is soft but crunchy.
        </p>
      </li>
      <li class="reviews-list-card four">
        <img
          class="reviews-card-img"
          srcset="
            /img/reviews/natalia-min.jpg    1x,
            /img/reviews/natalia@2x-min.jpg 2x
          "
          src="/img/reviews/natalia-min.jpg"
          alt="women"
          width="80px"
          height="80px"
        />
        <h3 class="reviews-card-title">Natalia Sus</h3>
        <p class="reviews-card-overlay-desc">
          The chocolate assortment was delicious. Both dark and milk chocolate
          pieces were smooth and just right on the sweetness level.
        </p>
      </li>
      <li class="reviews-list-card five">
        <img
          class="reviews-card-img"
          srcset="
            /img/reviews/danilo-min.jpg    1x,
            /img/reviews/danilo@2x-min.jpg 2x
          "
          src="/img/reviews/danilo-min.jpg"
          alt="men"
          width="80px"
          height="80px"
        />
        <h3 class="reviews-card-title">Danilo Nottingham</h3>
        <p class="reviews-card-overlay-desc">
          This is delicious. It so rich and flavorful you don’t need to use as
          many. I love topping an apple with almond butter and these chips for a
          snack.
        </p>
      </li>
      <li class="reviews-list-card six">
        <img
          class="reviews-card-img"
          srcset="
            /img/reviews/irina-min.jpg    1x,
            /img/reviews/irina@2x-min.jpg 2x
          "
          src="/img/reviews/irina-min.jpg"
          alt="women"
          width="80px"
          height="80px"
        />
        <h3 class="reviews-card-title">Irina Tydnyuk</h3>
        <p class="reviews-card-overlay-desc">
          This is simply the best chocolate around, and I'm just thrilled to
          support a local company! Best local chocolate - world class :)
        </p>
      </li>
    </ul>
    <ul class="reviews-slider">
      <li class="reviews-slider-btn-accent"></li>
      <li class="reviews-slider-btn"></li>
      <li class="reviews-slider-btn"></li>
      <li class="reviews-slider-btn"></li>
    </ul>
    <button data-modal-reviews-open class="reviews-open-btn" type="button">
      Leave a review
    </button>
  </div>
</section>
