<section class="container top-sellers">
  <div>
    <h1>TOP<span>SELLERS</span></h1>
    <ul>
      <li>
        <picture>
          <source
            srcset="
              ./images/imgportfolio/bankapp.jpg            1x,
              ./images/imgportfolio/bankapp-desktop@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/imgportfolio/bankapp-tablet.jpg    1x,
              ./images/imgportfolio/bankapp-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/imgportfolio/bankapp-mobile.jpg    1x,
              ./images/imgportfolio/bankapp-mobile@2x.jpg 2x
            "
            media="(min-width: 375px)"
          />

          <img src="" alt="" />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./images/imgportfolio/bankapp.jpg            1x,
              ./images/imgportfolio/bankapp-desktop@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/imgportfolio/bankapp-tablet.jpg    1x,
              ./images/imgportfolio/bankapp-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/imgportfolio/bankapp-mobile.jpg    1x,
              ./images/imgportfolio/bankapp-mobile@2x.jpg 2x
            "
            media="(min-width: 375px)"
          />
          <img src="" alt="" />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./images/imgportfolio/bankapp.jpg            1x,
              ./images/imgportfolio/bankapp-desktop@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/imgportfolio/bankapp-tablet.jpg    1x,
              ./images/imgportfolio/bankapp-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/imgportfolio/bankapp-mobile.jpg    1x,
              ./images/imgportfolio/bankapp-mobile@2x.jpg 2x
            "
            media="(min-width: 375px)"
          />
          <img src="" alt="" />
        </picture>
      </li>
    </ul>
    <div>
      <p class="">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button type="button" class="Buy now">Buy now</button>
    </div>
  </div>
</section>
