<section class="top-sellers-section" id="top-sellers">
  <div class="container">
    <h1 class="section-title"><span class="section-title-accent">TOP</span> SELLERS</h1>
    <ul class="top-sellers-list">
      <li class="top-sellers-list-pictures">
        <div class="top-sellers-list-pictures-with-text">
        <picture>
          <source
            srcset="./img/top-sellers/desktop/img1-desktop-min.jpg 1x,
              ./img/top-sellers/desktop/img1-desktop@2x-min.jpg 2x"
            media="(min-width: 1200px)"
          />
          <source
            srcset="./img/top-sellers/tablet/img1-tablet-min.jpg 1x,
              ./img/top-sellers/tablet/img1-tablet@2x-min.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/top-sellers/mobile/img1-mobile-min.jpg 1x,
              ./img/top-sellers/mobile/img1-mobile@2x-min.jpg 2x"
            media="(min-width: 375px)"
          />

          <img class="top-sellers-pictures top-sellers-pictures-one" src="./img/top-sellers/desktop/img1-desktop-min.jpg" alt="chocolate with nuts and coffee" />
        </picture>
        <p class="top-sellers-text">
          Crazy enough chocolate originates from a bean just like the coffee bean
          called Cacao. Cacao has been around for thousands of years and was first
          discovered by the Native American tribe called the Mayans.
        </p>
        </div>
      </li>
      <li>
        <picture>
          <source
            srcset="./img/top-sellers/desktop/img2-desktop-min.jpg 1x,
              ./img/top-sellers/desktop/img2-desktop@2x-min.jpg 2x"
            media="(min-width: 1200px)"
          />
          <source
            srcset="./img/top-sellers/tablet/img2-tablet-min.jpg 1x,
              ./img/top-sellers/tablet/img2-tablet@2x-min.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/top-sellers/mobile/img2-mobile-min.jpg 1x,
              ./img/top-sellers/mobile/img2-mobile@2x-min.jpg 2x"
            media="(min-width: 375px)"
          />
          <img class="top-sellers-pictures" src="./img/top-sellers/desktop/img2-desktop-min.jpg" alt="Chocolate with raisins and nuts" />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="./img/top-sellers/desktop/img3-desktop-min.jpg 1x,
              ./img/top-sellers/desktop/img3-desktop@2x-min.jpg 2x"
            media="(min-width: 1200px)"
          />
          <img class="top-sellers-pictures top-sellers-pictures-three" src="./img/top-sellers/desktop/img3-desktop-min.jpg" alt="Сhocolate with nuts and truffles" />
        </picture>
      </li>
    </ul>
    <div>
      <button type="button" data-modal-open class="top-sellers-btn">Buy now</button>
    </div>
  </div>
</section>
