<section class="section-unique-components">
    <div class="container">
        <h2 class="unique-components-title">IT ALL ADDS UP TO ONE EXCEPTIONAL
            <span
                class="unique-components-title-span">TASTE</span>
            SENSATION</h2>
        <p class="text-section-unique-components">At Simply Chocolate, we
            believe that the secret
            to
            exceptional chocolate is in the details. From the sourcing of the
            finest ingredients to the careful crafting of each individual piece,
            every step of our process adds up to one exceptional taste
            sensation.
        </p>

        <ul class="unique-components-list list">
            <li class="unique-components-list-item">
                <a class="unique-components-list-link
                    link" href="#">
                    <div class="card-container">
                        <div>
                            <picture>
                                <!-- DESKTOP -->
                                <source
                                    srcset=""
                                    media="(min-width: 1200px)">
                                <!-- TABLET/MOBILE -->
                                <source
                                    srcset=""
                                    media="(max-width: 1199px)">

                                <img
                                    src=""
                                    alt="Chocolate" width="206"
                                    height="160"
                                    class="unique-components-card-img">
                            </picture>
                        </div>
                        <div class="text-card">
                            <p>MILK CHOCOLATE</p>
                        </div>
                    </div>

                </a>
            </li>

            <li class="unique-components-list-item">
                <a class="unique-components-list-link link" href="#">
                    <div class="card-container">
                        <div>
                            <picture>
                                <!-- DESKTOP -->
                                <source
                                    srcset="../img/images/unique-components/desktop/milk-desktop-min.
                                    1x,
                                    ../img/images/unique-components/desktop/milk-desktop@2x-min.
                                    2x"
                                    media="(min-width: 1200px)">
                                <!-- TABLET/MOBILE -->
                                <source
                                    srcset="../img/images/unique-components/tablet-mobile/milk-tablet-mobile-min.
                                    1x,
                                    ../img/images/unique-components/tablet-mobile/milk-tablet-mobile@2x-min.
                                    2x"
                                    media="(max-width: 1199px)">

                                <img
                                    src="../img/images/unique-components/tablet-mobile/milk-tablet-mobile-min."
                                    alt="Milk" width="206"
                                    height="160"
                                    class="unique-components-card-img">
                            </picture>
                        </div>
                        <div class="text-card">
                            <p>MILK</p>
                        </div>
                    </div>
                </a>
            </li>

            <li class="unique-components-list-item">
                <a class="unique-components-list-link link" href="#">
                    <div class="card-container">
                        <div>
                            <picture>
                                <!-- DESKTOP -->
                                <source
                                    srcset="../img/images/unique-components/desktop/nuts-desktop-min.
                                    1x,
                                    ../img/images/unique-components/desktop/nuts-desktop@2x-min.
                                    2x"
                                    media="(min-width: 1200px)">
                                <!-- TABLET/MOBILE -->
                                <source
                                    srcset="../img/images/unique-components/tablet-mobile/nuts-tablet-mobile-min.
                                    1x,
                                    ../img/images/unique-components/tablet-mobile/nuts-tablet-mobile@2x-min.
                                    2x"
                                    media="(max-width: 1199px)">

                                <img
                                    src="../img/images/unique-components/tablet-mobile/nuts-tablet-mobile-min."
                                    alt="Nuts" width="206"
                                    height="160"
                                    class="unique-components-card-img">
                            </picture>
                        </div>
                        <div class="text-card">
                            <p>NUTS</p>
                        </div>
                    </div>
                </a>
            </li>

            <li class="unique-components-list-item">
                <a class="unique-components-list-link link" href="#">
                    <div class="card-container">

                        <div>
                            <picture>
                                <!-- DESKTOP -->
                                <source
                                    srcset="../img/images/unique-components/desktop/kakao-choco-desktop-min.
                                    1x,
                                    ../img/images/unique-components/desktop/kakao-choco-desktop@2x-min.
                                    2x"
                                    media="(min-width: 1200px)">
                                <!-- TABLET/MOBILE -->
                                <source
                                    srcset="../img/images/unique-components/tablet-mobile/kakao-choco-tablet-mobile-min.
                                    1x,
                                    ../img/images/unique-components/tablet-mobile/kakao-choco-tablet-mobile@2x-min.
                                    2x"
                                    media="(max-width: 1199px)">

                                <img
                                    src="../img/images/unique-components/tablet-mobile/kakao-choco-tablet-mobile-min."
                                    alt="Сocoa beans" width="206"
                                    height="160"
                                    class="unique-components-card-img">
                            </picture>
                        </div>
                        <div class="text-card">
                            <p>SEMI - SWEET CHOCOLATE</p>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>