<section class="section-unique-components">
  <div class="container">
    <h2 class="unique-components-title">IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span
        class="unique-components-title-span">TASTE</span>
      SENSATION</h2>
    <p class="text-section-unique-components">At Simply Chocolate, we
      believe that the secret
      to
      exceptional chocolate is in the details. From the sourcing of the
      finest ingredients to the careful crafting of each individual piece,
      every step of our process adds up to one exceptional taste
      sensation.
    </p>

    <ul class="unique-components-list">

      <li class="unique-components-list-item item">
        <a href="#" class="unique-components-list-link link">
          <div class="list-link-container">

            <div class="list-img-wrapper">
              <picture>
                <!-- DESKTOP -->
                <source
                  srcset="../img/unique-components/desktop/choco-desktop-min.png
                  1x,
                  ../img/unique-components/desktop/choco-desktop2x-min.png
                  2x"
                  media="(min-width: 1200px)">
                <!-- TABLET/MOBILE -->
                <source
                  srcset="../img/unique-components/tablet-mobile/choco-tablet-mobile-min.png
                  1x,
                  ../img/unique-components/tablet-mobile/choco-tablet-mobile2x-min.png
                  2x"
                  media="(max-width: 1199px)">

                <img
                  src="../img/unique-components/tablet-mobile/choco-tablet-mobile-min.png"
                  alt="Chocolate" width="100%"
                  height="100%"
                  class="unique-components-card-img">
              </picture>
            </div>
            <p class="text-card-subtitle">MILK CHOCOLATE</p>


            <div class="overlay-card">
              <p class="subtitle-overlay">Milk chocolate</p>
              <ul class="button-list list">
                <li class="button-list-item"> <button class="btn-overlay"
                    type="button">chocolate</button></li>
                <li class="button-list-item"> <button class="btn-overlay"
                    type="button">the benefits</button></li>
              </ul>
              <p class="overlay-description">Milk chocolate is a solid chocolate
                confectionery containing cocoa, sugar and milk. It is the most
                consumed type of chocolate. Chocolate was originally sold and
                consumed as a beverage in pre-Columbian times. Although
                four-fifths of all milk chocolate is sold in the United States
                and Europe.</p>
            </div>

          </div>
        </a>
      </li>

      <li class="unique-components-list-item item">
        <a href="#" class="unique-components-list-link link">
          <div class="list-link-container">

            <div class="list-img-wrapper">
              <picture>
                <!-- DESKTOP -->
                <source
                  srcset="../img/unique-components/desktop/milk-desktop-min.png
                  1x,
                  ../img/unique-components/desktop/milk-desktop2x-min.png
                  2x"
                  media="(min-width: 1200px)">
                <!-- TABLET/MOBILE -->
                <source
                  srcset="../img/unique-components/tablet-mobile/milk-tablet-mobile-min.png
                  1x,
                  ../img/unique-components/tablet-mobile/milk-tablet-mobile2x-min.png
                  2x"
                  media="(max-width: 1199px)">

                <img
                  src="../img/unique-components/tablet-mobile/milk-tablet-mobile-min.png"
                  alt="Milk" width="100%"
                  height="100%"
                  class="unique-components-card-img">
              </picture>
            </div>
            <p class="text-card-subtitle">Milk</p>


            <div class="overlay-card">
              <p class="subtitle-overlay">Milk</p>
              <ul class="button-list list">
                <li class="button-list-item"> <button class="btn-overlay"
                    type="button">milk</button></li>
                <li class="button-list-item"> <button class="btn-overlay"
                    type="button">the benefits</button></li>
              </ul>
              <p class="overlay-description">Milk is a white liquid food
                produced by the mammary glands of mammals. It is the primary
                source of nutrition for young mammals (including breastfed human
                infants) before they are able to digest solid
                food.Early-lactation milk, which is called colostrum, contains
                antibodies that strengthen the immune system.</p>
            </div>

          </div>
        </a>
      </li>

      <li class="unique-components-list-item item">
        <a href="#" class="unique-components-list-link link">
          <div class="list-link-container">
            <div class="list-img-wrapper">
              <picture>
                <!-- DESKTOP -->
                <source
                  srcset="../img/unique-components/desktop/nuts-desktop-min.png
                  1x,
                  ../img/unique-components/desktop/nuts-desktop2x-min.png
                  2x"
                  media="(min-width: 1200px)">
                <!-- TABLET/MOBILE -->
                <source
                  srcset="../img/unique-components/tablet-mobile/nuts-tablet-mobile-min.png
                  1x,
                  ../img/unique-components/tablet-mobile/nuts-tablet-mobile2x-min.png
                  2x"
                  media="(max-width: 1199px)">

                <img
                  src="../img/unique-components/tablet-mobile/nuts-tablet-mobile-min.png"
                  alt="Nuts" width="100%"
                  height="100%"
                  class="unique-components-card-img">
              </picture>
            </div>

            <p class="text-card-subtitle">NUTS</p>

            <div class="overlay-card">
              <p class="subtitle-overlay">Nuts</p>
              <ul class="button-list list">
                <li class="button-list-item"> <button class="btn-overlay"
                    type="button">nuts</button></li>
                <li class="button-list-item"> <button class="btn-overlay"
                    type="button">the benefits</button></li>
              </ul>
              <p class="overlay-description">Almonds, pistachios, and walnuts
                are some types of nuts that contain healthy nutrients. When
                eaten as part of a nutrient-dense diet, these 9 nuts may offer
                benefits such as reducing your risk of heart disease. They’re a
                good source of fiber, healthy fats, and plant protein. Plus,
                they’re great on their own.</p>
            </div>

          </div>

        </a>
      </li>

      <li class="unique-components-list-item item">
        <a href="#" class="unique-components-list-link link">
          <div class="list-link-container">

            <div class="list-img-wrapper">
              <picture>
                <!-- DESKTOP -->
                <source
                  srcset="../img/unique-components/desktop/cacao-choco-desktop-min.png
                  1x,
                  ../img/unique-components/desktop/cacao-choco-desktop2x-min.png
                  2x"
                  media="(min-width: 1200px)">
                <!-- TABLET/MOBILE -->
                <source
                  srcset="../img/unique-components/tablet-mobile/cacao-choco-tablet-mobile-min.png
                  1x,
                  ../img/unique-components/tablet-mobile/cacao-choco-tablet-mobile2x-min.png
                  2x"
                  media="(max-width: 1199px)">

                <img
                  src="../img/unique-components/tablet-mobile/cacao-choco-tablet-mobile-min.png"
                  alt="Сocoa beans" width="100%"
                  height="100%"
                  class="unique-components-card-img">
              </picture>
            </div>

            <p class="text-card-subtitle">SEMI - SWEET CHOCOLATE</p>

            <div class="overlay-card">
              <p class="subtitle-overlay">semi - sweet chocolate</p>
              <ul class="button-list list">
                <li class="button-list-item"> <button class="btn-overlay"
                    type="button">sweet chocolate</button></li>
                <li class="button-list-item"> <button class="btn-overlay"
                    type="button">the benefits</button></li>
              </ul>
              <p class="overlay-description">Semi-sweet chocolate has a cocoa
                solid content of 35 to 65%. One of the best ways to gain an
                understanding of this type of chocolate is to compare it to a
                different type of chocolate. Semisweet is darker than milk
                chocolate. In a taste comparison, it has a slightly bitter taste
                whereas milk chocolate is sweeter.</p>
            </div>

          </div>
        </a>
      </li>

    </ul>

  </div>
</section>