<section class="section-unique-components">
  <div class="container">
    <h2 class="unique-components-title">IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span
        class="unique-components-title-span">TASTE</span>
      SENSATION</h2>
    <p class="text-section-unique-components">At Simply Chocolate, we
      believe that the secret
      to
      exceptional chocolate is in the details. From the sourcing of the
      finest ingredients to the careful crafting of each individual piece,
      every step of our process adds up to one exceptional taste
      sensation.
    </p>

    <ul class="unique-components-list">

      <li class="unique-components-list-item item">
        <a href="#" class="unique-components-list-link link">
          <div class="list-link-container">

            <div class="unique-components-list-img-wrapper">
              <picture>
                <!-- DESKTOP -->
                <source
                  srcset="../img/unique-components/desktop/choco-desktop-min.png
                  1x,
                  ../img/unique-components/desktop/choco-desktop2x-min.png
                  2x"
                  media="(min-width: 1200px)">
                <!-- TABLET/MOBILE -->
                <source
                  srcset="../img/unique-components/tablet-mobile/choco-tablet-mobile-min.png
                  1x,
                  ../img/unique-components/tablet-mobile/choco-tablet-mobile2x-min.png
                  2x"
                  media="(max-width: 1199px)">

                <img
                  src="../img/unique-components/tablet-mobile/choco-tablet-mobile-min.png"
                  alt="Chocolate" width="206"
                  height="160"
                  class="unique-components-card-img">
              </picture>
            </div>
            <p class="text-card-subtitle">MILK CHOCOLATE</p>

          </div>
        </a>
      </li>

      <li class="unique-components-list-item item">
        <a href="#" class="unique-components-list-link link">
          <div class="list-link-container">

            <div class="unique-components-list-img-wrapper">
              <picture>
                <!-- DESKTOP -->
                <source
                  srcset="../img/unique-components/desktop/milk-desktop-min.png
                  1x,
                  ../img/unique-components/desktop/milk-desktop2x-min.png
                  2x"
                  media="(min-width: 1200px)">
                <!-- TABLET/MOBILE -->
                <source
                  srcset="../img/unique-components/tablet-mobile/milk-tablet-mobile-min.png
                  1x,
                  ../img/unique-components/tablet-mobile/milk-tablet-mobile2x-min.png
                  2x"
                  media="(max-width: 1199px)">

                <img
                  src="../img/unique-components/tablet-mobile/milk-tablet-mobile-min.png"
                  alt="Milk" width="206"
                  height="160"
                  class="unique-components-card-img">
              </picture>
            </div>
            <p class="text-card-subtitle">Milk</p>

          </div>
        </a>
      </li>

      <li class="unique-components-list-item item">
        <a href="#" class="unique-components-list-link link">
          <div class="list-link-container">
            <div class="list-img-wrapper">
              <picture>
                <!-- DESKTOP -->
                <source
                  srcset="../img/unique-components/desktop/nuts-desktop-min.png
                  1x,
                  ../img/unique-components/desktop/nuts-desktop2x-min.png
                  2x"
                  media="(min-width: 1200px)">
                <!-- TABLET/MOBILE -->
                <source
                  srcset="../img/unique-components/tablet-mobile/nuts-tablet-mobile-min.png
                  1x,
                  ../img/unique-components/tablet-mobile/nuts-tablet-mobile2x-min.png
                  2x"
                  media="(max-width: 1199px)">

                <img
                  src="../img/unique-components/tablet-mobile/nuts-tablet-mobile-min.png"
                  alt="Nuts" width="206"
                  height="160"
                  class="unique-components-card-img">
              </picture>
            </div>

            <p class="text-card-subtitle">NUTS</p>

          </div>

        </a>
      </li>

      <li class="unique-components-list-item item">
        <a href="#" class="unique-components-list-link link">
          <div class="list-link-container">

            <div class="unique-components-list-img-wrapper">
              <picture>
                <!-- DESKTOP -->
                <source
                  srcset="../img/unique-components/desktop/cacao-choco-desktop-min.png
                  1x,
                  ../img/unique-components/desktop/cacao-choco-desktop2x-min.png
                  2x"
                  media="(min-width: 1200px)">
                <!-- TABLET/MOBILE -->
                <source
                  srcset="../img/unique-components/tablet-mobile/cacao-choco-tablet-mobile-min.png
                  1x,
                  ../img/unique-components/tablet-mobile/cacao-choco-tablet-mobile2x-min.png
                  2x"
                  media="(max-width: 1199px)">

                <img
                  src="../img/unique-components/tablet-mobile/cacao-choco-tablet-mobile-min.png"
                  alt="Сocoa beans" width="206"
                  height="160"
                  class="unique-components-card-img">
              </picture>
            </div>

            <p class="text-card-subtitle">SEMI - SWEET CHOCOLATE</p>

          </div>
        </a>
      </li>

    </ul>

  </div>
</section>