/* FOOTER */

.page-footer {
    padding: 32px 0;
    background-color: var(--bg-color-secondary);
  }
  
  .footer-top-part {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    gap: 32px;
  }
  
  .footer-slogan {
    max-width: 300px;
  
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
  
    text-align: left;
  
    color: var(--secondary-text-decr);
  }
  
  .footer-slogan-brand {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
  }
  
  .footer-top-wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-contacts {
    max-width: 164px;
    font-style: normal;
  }
  
  .footer-contacts-text {
    margin-bottom: 14px;
  
    font-weight: 500;
  
    color: var(--secondary-text-decr);
  }
  
  .footer-contacts-item:not(:last-child) {
    margin-bottom: 4px;
  }
  
  .footer-contact-link {
    font-style: normal;
  
    color: var(--secondary-text-decr);
    transition: var(--transition-properties);
  }
  
  .footer-contact-link:hover,
  .footer-contact-link:focus {
    color: var(--accent-color);
  }
  
  .footer-nav::before {
    content: '';
    display: flex;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 32px;
  }
  
  .footer-social-media-list {
    display: flex;
    gap: 14px;
  }
  
  .footer-social-media-item {
    width: 22px;
    height: 22px;
  }
  
  .footer-social-media-link {
    display: flex;
    width: 100%;
    height: 100%;
    color: #fff;
    transition: color 500ms ease-out;
  }
  
  .footer-social-media-icon {
    width: 22px;
    height: 22px;
  
    stroke-width: 1.5px;
    stroke: currentColor;
  }
  
  .footer-social-media-link:hover,
  .footer-social-media-link:focus {
    color: var(--accent-color);
  }
  
  .footer-nav-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  
  .footer-nav-link {
    font-weight: 500;
    line-height: 1.14;
  
    color: var(--secondary-text-decr);
  
    transition: color var(--transition-properties);;
  }
  
  .footer-nav-link:hover,
  .footer-nav-link:focus {
    color: var(--accent-color);
  }
  
  @media screen and (min-width: 768px) {
    .page-footer {
      padding: 50px 0;
    }
  
    .footer-slogan {
      font-size: 28px;
      line-height: 1.21;
    }
  
    .footer-slogan-brand {
      font-weight: 500;
      font-size: 28px;
      line-height: 1.21;
    }
  
    .footer-top-part {
      flex-direction: row;
  
      margin-bottom: 50px;
    }
  
    .footer-top-wrapper {
      margin-left: auto;
      gap: 50px;
    }
  
    .footer-social-media-item {
      width: 24px;
      height: 24px;
    }
  
    .footer-social-media-icon {
      width: 24px;
      height: 24px;
  
      stroke-width: 2px;
    }
  
    .footer-nav:before {
      margin-bottom: 24px;
    }
  
    .footer-nav-list {
      flex-direction: row;
      gap: 24px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .footer-top-part {
      margin-bottom: 62px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .footer-top-wrapper {
      gap: 63px;
    }
  }