/* mobile */
.section-hero {
  padding-bottom: 72px;

}

.hero {
  background: linear-gradient(180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%),
    url(../img/hero/hero-mobile-min.jpg);
  background-repeat: no-repeat;
  background-color: var(--bg-color-secondary);
  background-size: cover;
  border-radius: 30px;
  padding-top: 395px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.hero-dicr {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: var(--secondary-text-decr);
  margin-bottom: 32px;
  max-width: 295px;
}

/* btn */

.button-hero {
  display: flex;
  margin-top: 32px;
  gap: 14px;
  flex-wrap: wrap;

}

.button-hero-buy {
  background: #FD9222;
  padding: 12px 28px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.21;
  border-radius: 100px;
  color: var(--secondary-text-decr);
  border: none;
}

.button-hero-how {
  padding: 12px 28px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.21;
  border-radius: 100px;
  color: var(--secondary-text-decr);
  background: none;
  border: 1px solid #ffffff;

}

.button-hero-footer {
  position: relative;
  display: flex;

  align-items: center;


  font-family: Montserrat;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  color: #ffffff;

  background: none;
  border: none;
}

.modal-icon {
  fill: var(--accent-color);
  padding: 3px;
}

.check-mark-icon {
  border-radius: 50%;
  height: 28px;
  width: 28px;
  background-color: var(--secondary-text-decr);
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* tablet */

@media screen and (min-width: 768px) {

  .hero {
    background: linear-gradient(180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%),
      url(../img/hero/hero-tablet-min.jpg);
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 381px;
  }

  .hero-dicr {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.03em;
    color: #ffffff;
    max-width: 484px;
  }

  /* btn */
  .button-hero {
    flex-wrap: nowrap;
    align-items: center
  }

  .button-hero-footer {
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.03em;
    color: #ffffff;

    background: none;
    border: none;

  }

  .button-hero-right {
    margin-left: auto;
  }

  .button-hero-left {
    border-radius: 100px;
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    color: #ffffff;
  }

  /* icon */
  .modal-icon {
    width: 22px;
    height: 22px;
    align-items: center;
    justify-content: center;
  }

  .check-mark-icon {
    width: 38px;
    height: 38px;
    padding: 6px;

  }
}

/* Desktop */
@media screen and (min-width: 1158px) {
  .hero {
    background: linear-gradient(180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%),
      url(../img/hero/hero-desktop-min.jpg);
    background-size: cover;
    width: 1158px;
    background-repeat: no-repeat;
  }
}