/* mobile */
.section-hero {
  padding-bottom: 72px;

}

.hero {
  background: linear-gradient(180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%),
    url(../img/hero/hero-mobile-min.jpg);
  background-repeat: no-repeat;
  background-color: var(--bg-color-secondary);
  background-size: cover;
  border-radius: 30px;
  padding-top: 395px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.hero-dicr {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: var(--secondary-text-decr);
  margin-bottom: 32px;
  max-width: 295px;
}

/* btn */

.button-hero {
  display: flex;
  margin-top: 32px;
  gap: 14px;
  flex-wrap: wrap;
  align-items: center

}

.button-hero-buy {
  background: var(--accent-color);
  padding: 12px 28px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.21;
  border-radius: 100px;
  color: var(--secondary-text-decr);
  border: none;
  transition: background-color var(--transition-properties), color var(--transition-properties);
margin-right: 14px;
}

.button-hero-how {
  padding: 12px 20px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.21;
  border-radius: 100px;
  color: var(--secondary-text-decr);
  background: none;
  border: 1px solid var(--secondary-text-decr);
  transform: background-color var(--transition-properties), color var(--transition-properties), border-color var(--transition-properties);

}

.button-hero-footer {
  position: relative;
  display: flex;

  align-items: center;


  font-family: Montserrat;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  color: var(--secondary-text-decr);

  background: none;
  border: none;
  transition: color var(--transition-properties), background-color var(--transition-properties), fill var(--transition-properties);
}

.button-hero-buy:hover,
.button-hero-buy:focus {
  background-color: var(--btn-bg-color);
  color: var(--accent-color);
}

.button-hero-how:hover,
.button-hero-how:focus {
  background-color: var(--main-bg-color);
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.button-hero-footer:hover,
.button-hero-footer:focus {
  color: var(--accent-color);
}

.button-hero-footer:hover .check-mark-icon,
.button-hero-footer:focus .check-mark-icon {
  background-color: var(--accent-color);
  color: var(--accent-color);
}

.button-hero-footer:hover .check-mark-icon .modal-icon,
.button-hero-footer:focus .check-mark-icon .modal-icon {
  fill: var(--secondary-text-decr);

}

/* icon */
.modal-icon {
  fill: var(--accent-color);
  padding: 3px;
}

.check-mark-icon {
  border-radius: 50%;
  height: 28px;
  width: 28px;
  background-color: var(--secondary-text-decr);
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;

}

@media screen and (min-width: 375px) {
  .button-hero-how {
    padding: 12px 28px;
  }
}

/* tablet */

@media screen and (min-width: 768px) {

  .hero {
    background: linear-gradient(180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%),
      url(../img/hero/hero-tablet-min.jpg);
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 381px;
  }

  .hero-dicr {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.03em;
    color: var(--secondary-text-decr);
    max-width: 484px;
  }

  /* btn */
  .button-hero {
    flex-wrap: nowrap;
    align-items: center
  }

  .button-hero-how {
    padding: 14px 40px;
  }

  .button-hero-buy {
    padding: 14px 40px;
  }

  .button-hero-footer {
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.03em;
    color: var(--secondary-text-decr);

    background: none;
    border: none;

  }

  .button-hero-right {
    margin-left: auto;
  }

  .button-hero-left {
    border-radius: 100px;
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    color: var(--secondary-text-decr);
   
  }

  /* icon */
  .modal-icon {
    width: 22px;
    height: 22px;
    align-items: center;
    justify-content: center;
  }

  .check-mark-icon {
    width: 38px;
    height: 38px;
    padding: 6px;

  }
}

/* Desktop */
@media screen and (min-width: 1200px) {
  .hero {
    background: linear-gradient(180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%),
      url(../img/hero/hero-desktop-min.jpg);
    background-size: cover;
    width: 1158px;
    background-repeat: no-repeat;
  }
}

/* MOBILE HERO */
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%),
      url(/img/hero/hero-mobile@2x-min.jpg);
  }
} 

/* Tablet Hero */
 @media screen and (min-device-pixel-ratio: 2) and (max-width: 1199px),
screen and (min-resolution: 192dpi) and (max-width: 1199px),
screen and (min-resolution: 2dppx) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%),
      url(/img/hero/hero-tablet@2x-min.jpg);
  }
} 

/* Desktop Hero */
 @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%),
      url(/img/hero/hero-desktop@2x-min.jpg);
  }
} 