/* Section HIM */

.him-container {
    background-color: var(--modal-bg-color);
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    .him-container {
        width: 100%;
    }
}

.description-him {
    display: flex;
    align-items: center;
    gap: 20px
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    .description-him {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .description-him {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .description-him {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.him-title {
    font-size: 24px;
    text-align: center;
    margin-top: 128px;
    margin-bottom: 50px;
    
    /* width: 350px; */
    /* font-weight: 600;
    line-height: 1.16;
    letter-spacing: -0.03em;
    text-transform: uppercase; */
}

.him-title-accent {
    color: var(--accent-color);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .him-title {
        font-size: 20px;
        margin-top: 72px;
        margin-bottom: 32px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .him-title {
        margin-top: 100px;
    }
}

.him-img {
    flex: none;
    position: relative;
}

/* Mobile*/
/* @media screen and (max-width: 767px) {
    .him-img {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
            url(/img/how-it’s-made/mobile/image-mobile-min.jpg);
    }
}
@media 
    screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .him-img  {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(/img/how-it’s-made/mobile/image-mobile@2x-min.jpg);
    }
} */

/* Tablet*/
/* @media screen and (min-width: 768px) {
    .him-img {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(/img/how-it’s-made/tablet/image-tablet-min.jpg);
    }
}
@media 
    screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .him-img {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(/img/how-it’s-made/tablet/image-tablet@2x-min.jpg);
    }
} */

/* Desktop*/
/* @media 
    screen and (min-width: 1158px) {
    .him-img {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(/img/how-it’s-made/desktop/image-desktop-min.jpg);
    }
}
@media 
    screen and (min-width: 1158px), 
    screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
    screen and (min-resolution: 192dpi) and (min-width: 1158px),
    screen and (min-resolution: 2dppx) and (min-width: 1158px) {
        .him-img {
        background-image: 
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(/img/how-it’s-made/desktop/image-desktop@2x-min.jpg);
    }
}  */
/* ///Desktop*/

@media screen and (min-width: 320px) and (max-width: 374px) {
    .him-img {
        width: 100%;
        height: 500px;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .him-img {
        max-width: 335px;
        width: 100%;
        height: 500px;
    }
}

.him-img-item {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    border-radius: 15px;
    
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    .him-img-item {
        width: 100%;
        height: 500px;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .him-img-item {
        max-width: 335px;
        width: 100%;
        height: 500px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .him-img-item {
        max-width: 614px;
        width: 100%;
    }
}

/* Іконка PLAY */

.icon-play {
position: absolute;

display: flex;
align-items: center;
justify-content: center;

width: 44px;
height: 44px;

padding-left: 0;
padding-right: 0;
fill: var(--secondary-text-decr);
background-color: transparent;

border-radius: 50%;
border-width: 1px;
border-color: var(--secondary-text-decr);
box-sizing: border-box;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.description-proces {
    width: 516px;
    padding: 32px 32px 34px 32px;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    .description-proces {
        width: 100%;
        padding: 20px 14px 20px 14px;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .description-proces {
        max-width: 335px;
        width: 100%;
        padding: 20px 14px 20px 14px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .description-proces {
        max-width: 614px;
        width: 100%;
        padding-bottom: 32px;
    }
}

.description-proces-title {
    width: 350px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 28px;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    .description-proces-title {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .description-proces-title {
        max-width: 335px;
        width: 100%;
        margin-bottom: 20px;
    }
}

.him-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
 
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .him-menu-list {
        gap: 18px;
    }
}

.him-menu-item {
    list-style-type: disc;
}