.our-products {
  padding-bottom: 128px;
}

.our-products-container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

.our-products-text {
  margin-bottom: 50px;
}

.products-card-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.products-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
  width: inherit;
  background: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}

.slaider-card {
  display: none;
}

/* tablet */

@media screen and (min-width: 768px) {
  .slaider-card {
    display: block;
  }

  .products-card-list {
    flex-direction: row;
  }

  .slaider-non-tab {
    display: none;
  }

}

@media screen and (min-width: 1200px) {
    .slaider-card-desk {
      display: block;
    }
  }



  
/* Slaider */
.slaider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
  margin-top: 20px;
  margin-bottom: 32px;
}

.slaider-btn-first {
  display: block;
  width: 28px;
  height: 13px;
  background-color: var(--accent-color);
  border-radius: 6px;
}

.slaider-btn {
  width: 13px;
  height: 13px;
  background: rgba(17, 17, 17, 0.1);
  border-radius: 50%;
}
