.accent-color-title {
  color: var(--accent-color);
}
.section-title {
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
}
.reviews-list {
  display: flex;
  width: 335px;
}
.reviews-card-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
}
.reviews-card-title {
  text-align: center;
  font-weight: 600;
  letter-spacing: normal;
  line-height: calc(24 / 18);
}
.reviews-list-card {
  display: block;

  width: 335px;
  height: 242px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  /* justify-content: center;
  align-content: flex-start; */
}
.reviews-card-overlay-desc {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 104px;
  padding-bottom: 42px;
  width: 335px;
  height: 200px;
  /* margin-left: auto;
  margin-right: auto; */
  text-align: center;
  line-height: calc(18 / 14);
  display: flex;
  /* justify-content: center;
  align-items: center; */
  background: transparent;
  position: absolute;
  top: 40px;
}
@media screen and (max-width: 767px) {
  .two,
  .three,
  .four,
  .five,
  .six {
    display: none;
  }
}
