.accent-color-title {
  color: var(--accent-color);
}
.section-title {
  margin-bottom: 32px;
}
.review-card-img {
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 18px; */
}
.review-rectanle {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 56px;
  padding-bottom: 42px;
  display: block;
  width: 335px;
  margin-left: auto;
  margin-right: auto;
}
.review-rectanle:hover,
.review-rectanle:focus {
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
  border-radius: 15px;
}
.review-card-title {
  /* display: block; */
  /* margin-left: auto;
  margin-right: auto; */
  margin-bottom: 24px;
}
.review-card-desc {
  /* margin-left: auto;
  margin-right: auto; */
}
