.reviews-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.accent-color-title {
  color: var(--accent-color);
}
.section-title {
  margin-bottom: 32px;
  line-height: calc(24 / 20);
}
.reviews-list {
  display: flex;
  width: 335px;
}
.reviews-card-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
}
.reviews-card-title {
  text-align: center;
  font-weight: 600;
  letter-spacing: normal;
  line-height: calc(24 / 18);
}
.reviews-list-card {
  display: block;

  width: 335px;
  height: 242px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.reviews-card-overlay-desc {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 104px;
  padding-bottom: 42px;
  width: 335px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 400;
  line-height: calc(18 / 14);
  display: flex;

  background: transparent;
  position: absolute;
  top: 40px;
}
.reviews-open-btn {
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 12px 28px;

  font-weight: 600;
  line-height: calc(17 / 14);
  max-width: 165px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviews-open-btn:hover,
.reviews-open-btn:focus {
  background: var(--accent-color);
  color: var(--secondary-text-decr);
  line-height: calc(22 / 18);
}
.reviews-slider {
  display: flex;
  gap: 13px;
  margin-top: 20px;
  margin-bottom: 32px;
}
.reviews-slider-btn-accent {
  display: block;
  width: 28px;
  height: 13px;
  background-color: var(--accent-color);

  border-radius: 6px;
}
.reviews-slider-btn {
  width: 13px;
  height: 13px;
  background: rgba(17, 17, 17, 0.1);
  border-radius: 50%;
}

@media screen and (max-width: 1199px) {
  .two {
    display: block;
  }
  .three,
  .four,
  .five,
  .six {
    display: none;
  }
  .section-title {
    margin-bottom: 50px;
    line-height: calc(28 / 24);
  }
  .reviews-list {
    width: 704px;
    gap: 16px;
  }
  .reviews-slider {
    margin-top: 32px;
    margin-bottom: 50px;
  }

  .reviews-open-btn {
    border: 1px solid #fd9222;
    border-radius: 100px;
    padding: 14px 40px;

    line-height: calc(22 / 18);
    max-width: 222px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .reviews-card-overlay-desc {
    padding-left: 16px;
    padding-right: 16px;
    width: 344px;
  }
}
@media screen and (max-width: 767px) {
  .two,
  .three,
  .four,
  .five,
  .six {
    display: none;
  }
  .reviews-slider-btn-accent {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
@media screen and (min-width: 1200px) {
  .three {
    display: block;
  }

  .four,
  .five,
  .six {
    display: none;
  }

  .reviews-list {
    width: 1136px;
    gap: 28px;
  }
  .reviews-card-overlay-desc {
    padding-left: 24px;
    padding-right: 24px;
    width: 360px;
  }

  .reviews-open-btn {
    border: 1px solid #fd9222;
    border-radius: 100px;
    padding: 14px 40px;

    line-height: calc(22 / 18);
    max-width: 222px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
