/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

/* Partial css styles */
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./advantages.css');
@import url('./unique-components.css');
@import url('./him.css');
@import url('./our-products.css');
@import url('./top-sellers.css');
@import url('./reviews.css');
@import url('./subscribe.css');
@import url('./footer.css');

/* Modal css styles */
@import url('./modal-buy-now.css');
@import url('./modal-leave-a-review.css');
@import url('./modal-explore-our-new.css');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --input-border-color: rgba(17, 17, 17, 0.1);
  --label-text-color: #000000;
  --accent-color: #fd9222;
  --text-color-discr: #111111;
  --bg-color-secondary: #1e1823;
  --modal-bg-color: #fafafa;
  --btn-bg-color: #fcf1e0;
  --secondary-text-decr: #ffffff;
  --transition-properties: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url(/fonts/Montserrat-ExtraBold.woff2) format('woff2'),
    url(/fonts/Montserrat-ExtraBold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url(/fonts/Montserrat-ExtraBoldItalic.woff) format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url(/fonts/Montserrat-SemiBold.woff2) format('woff2'),
    url(/fonts/Montserrat-SemiBold.woff) format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url(/fonts/Montserrat-Medium.woff2) format('woff2'),
    url(/fonts/Montserrat-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url(/fonts/Montserrat-Regular.woff2) format('woff2'),
    url(/fonts/Montserrat-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
  color: var(--text-color-discr);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* Mobile title */
.section-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.section-part-title {
  color: var(--accent-color);
}

/* Tablet and Desktop title */
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 24px;
    line-height: 1.16;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
