.container {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 767px) {
  .container {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/* ==============TEXT================ */

.unique-components-title {
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #111111;
}

.unique-components-title-span {
  color: #fd9222;
}

.text-section-unique-components {
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: -0.02em;
  color: #111111;
}

.text-card-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  margin-left: 28px;
}
/* ==============/TEXT================ */

.unique-components-list-item:nth-child(1) {
  background-color: #fd9222;
  color: #ffffff;
}

.unique-components-list-item:nth-child(3) {
  background-color: #1e1823;
  color: #ffffff;
}

.unique-components-list-item:nth-child(even) {
  background: #ffffff;
  border: 1px solid #fd9222;
}

.unique-components-list-item {
  border-radius: 15px;
}
/* .unique-components-list-item {
  border-radius: 15px;
}

.list-link-container {
  width: 335px;
  height: 270px;
  padding: 28px;
}

.list-img-wrapper {
  width: 224px;
  height: 171px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 28px;
  margin-bottom: 25px;
} */

/* ========375========= */

@media screen and (max-width: 767px) {
  .section-unique-components {
    padding: 72px 0;
  }

  .unique-components-title {
    margin-bottom: 24px;
    width: 283px;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }

  .text-section-unique-components {
    margin-bottom: 32px;
  }

  .list-link-container {
    width: 335px;
    height: 270px;
  }

  .list-img-wrapper {
    display: inline-block;
    margin-top: 28px;
    margin-bottom: 25px;
    margin-left: 56px;
    max-width: 224px;
    max-height: 171px;
  }

  .unique-components-list-item:not(:last-child) {
    margin-bottom: 20px;
  }
  /* .unique-components-title {
    margin-bottom: 24px;
    width: 283px;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }

  .text-section-unique-components {
    margin-bottom: 32px;
  }

  .unique-components-list-item:not(:last-child) {
    margin-bottom: 20px;
  } */
}

/* ==============768================ */

@media screen and (min-width: 768px) {
  .section-unique-components {
    padding: 100px 0;
  }

  .unique-components-title {
    margin-bottom: 28px;
    width: 411px;
    font-size: 24px;
    line-height: 1.16;
  }

  .text-section-unique-components {
    width: 486px;
    margin-bottom: 50px;
  }

  .list-link-container {
    width: 336px;
    height: 270px;
  }

  .list-img-wrapper {
    display: inline-block;
    margin-top: 28px;
    margin-bottom: 25px;
    margin-left: 56px;
    max-width: 224px;
    max-height: 171px;
  }

  .unique-components-list-item {
    flex-basis: calc((100%-32px) / 2);
  }

  /*

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .unique-components-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  } */
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .unique-components-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 32px;
  }
}

/* ==================1200===================== */

@media screen and (min-width: 1200px) {
  .section-unique-components {
    padding: 128px 0;
  }

  .unique-components-list {
    display: flex;
    gap: 17px;
  }

  .list-link-container {
    width: 270px;
    height: 270px;
  }

  .list-img-wrapper {
    display: inline-block;
    margin-top: 28px;
    margin-bottom: 36px;
    margin-left: 28px;
    max-width: 206px;
    max-height: 160px;
  }
  /* .unique-components-list {
    display: flex;
    gap: 19px;
  }

  .list-link-container {
    width: 270px;
    height: 270px;
    padding: 28px;
  }

  .list-img-wrapper {
    width: 206px;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  } */
}
